.home-container {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    max-width: 1400px;
    margin: 32px auto;
    gap: 16px;
}

.posts-container {
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    gap: 16px;
    width: 100%;
}